body{
    margin: 0;
    text-align:center;
    font-family: 'Merriweather', serif;
    font-size: 100%;
    color: #40514E;
    /* width: 100%; */
    overflow-x: hidden;
}
h1{
    margin: 0;
    /* font-family: 'Sacramento', cursive; */
    font-family: 'Pacifico', cursive;
    color:#66bfbf;
    
}
h2{
    color:#4cd3c2;
    font-family: 'Sacramento', cursive;
    font-size:3rem;
    
}
/* 1 em=16px;
5.625=90px;
100%=16px */
/* em and % are used for dynamic font-sizing, when we do setting of font-size in chrome, it will also changes the font size in website.
 */
h3{
    color:#66BFBF;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 2.0rem;
    font-weight: bolder;
}
.top-container{
    position: relative;
    background-color:#E4F9F5;
    padding-top: 100px;
    /* width: 100%;
    height: 100px; */
}
 /* .middle-container{
    width: 200px;
    height: 200px;
    background-color: blue;
} */
/*.bottom-container{
    width: 200px;
    height: 200px;
    background-color:rgb(255,0,0);
} */
.bottom-cloud{
    position:absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position:absolute;
    top:50px;
    right:300px;
}
.name{
    color:#66BFBF;
    font-size:5.625rem;
    padding: 50px auto 0 auto;
    margin-bottom: 20px;

}
.skill-row{
    width:60%;
    margin:150px auto 150px auto;
    text-align: left;
    line-height: 2;

}
.c{
    width:25%;
    float: left;
    margin-right:50px;
}
.web{
    width:25%;
    float: right;
    margin-left:50px;
}
.profile{
    /* width: 50%;*/
    margin: 50px auto 50px auto; 
    line-height: 2;
}
.description{
    font-size: 1.3rem;
    color: #40514E;
}
hr{
    border-style: none;
    height: 0px;
    width: 5%;
    border-top-style: dotted;
    border-width: 7px;
    border-color: gray;
    margin: 100px auto 100px auto;
}

.bottom-container{
    margin-top: 50px;
    background-color: #66BFBF;
    padding: 50px;
}
a{
    color:#11999E;
    margin:auto 20px;
    text-decoration: none;
}
a:hover{
    color: honeydew;
}
.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding-top:50px;
    position: relative;
    top: 50px;
    left: 650px;
}

.intro{
    width:30%;
    margin:auto;
}
.i{
    margin-bottom: auto;
}
.sk{
    margin-bottom: 0px;
}
.contact{
    width:40%;
    margin:40px auto 20px;
}

.classname {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #30e3cb), color-stop(1, #2bc4ad) );
	background:-moz-linear-gradient( center top, #30e3cb 5%, #2bc4ad 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#30e3cb', endColorstr='#2bc4ad');
	background-color:#30e3cb;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #3d768a;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2bc4ad), color-stop(1, #30e3cb) );
	background:-moz-linear-gradient( center top, #2bc4ad 5%, #30e3cb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2bc4ad', endColorstr='#30e3cb');
	background-color:#2bc4ad;
}.classname:active {
	position:relative;
    top:1px;
}